[Unit]
Description=SingleSensor Monitoring (BME280 / SCD40)
After=multi-user.target network.target

[Service]
Type=simple
User=tech
WorkingDirectory=/home/tech/SingleSensor
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/python3 /home/tech/SingleSensor/SingleSensor.py
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/tech/sensor.log
StandardError=append:/home/tech/sensor.log

[Install]
WantedBy=multi-user.target
